body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background: url('../img/runnning.png') no-repeat;
  background-size: 100% 100%;
}
.searchContainer {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0%);
  font-size: 1.5vw;
}
.searchContainer .demo-form-inline {
  width: 100%;
  text-align: center;
}
.searchContainer .playerInfo {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 2vw;
  width: 100%;
  height: 100%;
  padding: 2vw;
  border-radius: 10px;
  text-align: center;
}
.searchContainer .playerInfo .theScore {
  font-size: 3vw;
  font-weight: 800;
  font-family: "Microsoft JhengHei";
  color: #d90000;
  transform: scale(1, 1.1);
  margin-bottom: 3vw;
}
.searchContainer .playerInfo .theMatchName {
  font-size: 1vw;
  font-family: "Microsoft YaHei";
  font-weight: 600;
}
.searchContainer .playerInfo .thePlayerName {
  width: 80%;
  margin: 0 auto;
  margin-top: 2vw;
  display: flex;
}
.searchContainer .playerInfo .thePlayerName .big {
  font-size: 1.5vw;
  flex: 1;
  font-family: "Microsoft YaHei";
  font-weight: 600;
  position: relative;
}
.searchContainer .playerInfo .thePlayerName .big .tag {
  margin-top: 0.5vw;
  display: block;
  font-size: 0.8vw;
  color: #656565;
  font-weight: 400;
}
.searchContainer .playerInfo .thePlayerName .big::before {
  content: '|';
  color: gray;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(0%, -50%);
}
.searchContainer .playerInfo .thePlayerName .big:nth-child(3)::before {
  content: '';
}
